@model VideojuegoFABD.Models.TVideojuego
@{
    //ViewBag.Title = "_VerVideojuego";
    //Layout = "~/Views/Plantilla/Plantilla.cshtml";
}

<!--Mostramos los datos en limpio-->

<div>
    <h4> DATOS DE LOS VIDEJUEGOS </h4>

    @Model.Titulo
    @Model.CodVideojuego
    @Model.Editor
    @Model.Desarrollador
    @Model.Genero
    @Model.Precio
    @Model.FechaLanzamiento
    @Model.Idioma
    @Model.Pegi
    @Model.Portada
    @Model.Trailer
</div>

