@model VideojuegoFABD.Models.TVideojuego
@{
    ViewBag.Title = "VerVideojuego";
    Layout = "~/Views/Plantilla/Plantilla.cshtml";
}

<!--Mostramos los datos en limpio-->

<div>
    <center><h4> DATOS DEL DISCO </h4></center>
</div>

<br />
<br />
<br />

<div class="container">
    <div class="row">
        <img border="1" alt="Portada" src=@Model.Portada width="150" height="150">
    </div>
    <div class="row">
        <label class="col-sm-5">Título</label><span class="prop-border col-sm-7">@Model.Titulo</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Autor</label><span class="prop-border col-sm-7">@Model.Desarrollador</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Numero de canciones</label><span class="prop-border col-sm-7">@Model.Editor</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Precio</label><span class="prop-border col-sm-7">@Model.Precio</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Género</label><span class="prop-border col-sm-7">@Model.Genero</span>
    </div>
</div>

