@model VideojuegoFABD.Models.TVideojuego
@{
    ViewBag.Title = "VerVideojuego";
    Layout = "~/Views/Plantilla/Plantilla.cshtml";
}

<!--Mostramos los datos en limpio-->

<div>
    <center><h4> DATOS DEL VIDEOJUEGO </h4></center>
</div>

<br />
<br />
<br />

<div class="container">
    <div class="row">
        <img border="1" alt="Portada" src=@Model.Portada width="150" height="200">
    </div>
    <div class="row">
        <label class="col-sm-5">Título</label><span class="prop-border col-sm-7">@Model.Titulo</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Dessarrollador</label><span class="prop-border col-sm-7">@Model.Desarrollador</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Editor</label><span class="prop-border col-sm-7">@Model.Editor</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Precio</label><span class="prop-border col-sm-7">@Model.Precio</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Género</label><span class="prop-border col-sm-7">@Model.Genero</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Fecha de Lanzamiento</label><span class="prop-border col-sm-7">@Model.FechaLanzamiento</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Pegi</label><span class="prop-border col-sm-7">@Model.Pegi</span>
    </div>
    <div class="row">
        <label class="col-sm-5">Idioma</label><span class="prop-border col-sm-7">@Model.Idioma</span>
    </div>
    <iframe width="560" height="315" src="@Model.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

