@using VideojuegoFABD.Models;
@model List<VideojuegoFABD.Models.TVideojuego>
@{
    ViewBag.Title = "Consultar";
}

<div class="container">
    <center>
        <!--span id="totadiscos">Discos a la venta: @Model.Count</!--span><br /><br /-->
        <div class="modal-body row" id="modal-champions-body">
            @foreach (var videojuego in Model)
            {
                <div id="@videojuego.CodVideojuego">
                    <div><img alt="Portada" src=@videojuego.Portada width="150" height="200"></div>
                    <div>
                        @Html.ActionLink(videojuego.Titulo, "verVideojuego", "Videojuego", new { CodVideojuego = @videojuego.CodVideojuego }, new { @class = "text-dark" })
                    </div>
                    @{ if (Session["usuario"] != null && ((TUsuario)Session["usuario"]).Rol.Equals("admin"))
                        {
                            <div>@Html.ActionLink(" Editar ", "modificarVideojuego", "Videojuego", new { CodVideojuego = @videojuego.CodVideojuego }, null)</div>

                            <div>
                                @Ajax.ActionLink(" Borrar ", "borrarVideojuego", "Videojuego", new { CodVideojuego = @videojuego.CodVideojuego }, new AjaxOptions()
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "totadiscos",
                                }, new { id = @videojuego.CodVideojuego, onclick = "myFunction(id);" })
                            </div>
                        }
                    }
                    <div><br /></div>
                </div>
            }
        </div>
    </center>
</div>

<script>
    function myFunction(a) {
        var list = document.getElementById(a);
        if (list.hasChildNodes()) {
            list.parentNode.removeChild(list);
        }
    }
</script>
